* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: #e4e9ed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins, sans-serif;
}

.global-container {
  width: 70vw;
  height: 90vh;
  background-color: #f5f7f6;
  border: #f2f6f5 solid 1px;
  box-shadow: 0px 0px 12px #f5f7f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.data-container {
  width: 86%;
  height: 93%;
}

header {
  width: 100%;
  height: 47px;
}

nav {
  width: 100%;
  height: 100%;
}

.left-nav-segment > ul > li {
  list-style-type: none;
  float: left;
  margin: 1px 15px;
}

.mr-logo {
  position: relative;
  width: 37px;
  height: 37px;
  background-color: #f7df1d;
  border: none;
  border-radius: 6px;
}

.mr-logo > p {
  position: absolute;
  bottom: 0;
  right: 3px;
  font-weight: 600;
}

.left-nav-text-content {
  height: 37px;
  display: flex;
  align-items: center;
  font-size: 80%;
  color: #4f5150;
  font-weight: 440;
}

ul li:last-child .left-nav-text-content {
  color: black;
  font-weight: 600;
}

.right-nav-segment > ul > li {
  list-style-type: none;
  float: right;
  margin: 1px 15px;
}

.right-nav-text-content {
  height: 40px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #949695 solid 1px;
  border-radius: 7px;
  font-family: Poppins, sans-serif;
  font-size: small;
  font-weight: 440;
  color: #949695;
  margin-right: 40px;
}

.right-nav-img-container {
  width: 37px;
  height: 37px;
  border: white solid 1px;
  border-radius: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: -20px;
  left: -30px;
  box-shadow: -7px 7px 10px #dadce1;
}

#gmail-img {
  width: 70%;
  height: 70%;
}

#facebook-img {
  width: 80%;
  height: 80%;
}

#content-heading {
  height: 45px;
  margin: 30px auto 15px auto;
  text-align: center;
  font-size: 32px;
  letter-spacing: 2px;
}

#content-description {
  width: 30%;
  height: 50px;
  margin: 20px auto 8px auto;
  text-align: center;
  color: #878988;
  font-family: Poppins, sans-serif;
  font-size: 80%;
}

.search-container {
  width: 41%;
  height: 47px;
  margin: 3px auto;
  background-color: white;
  border: none;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-data-container {
  width: 97%;
  height: 90%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.vector-dropdown-box {
  width: 18%;
  height: 78%;
  border: #c0c0c0 solid 1px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 78%;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  box-shadow: 0px 0px 2px #c0c0c0;
}

.search-data-container > p {
  width: 65%;
  height: 78%;
  display: flex;
  align-items: center;
  color: #929292;
  font-size: 71%;
  font-family: Poppins, sans-serif;
}

.search-data-container > img {
  width: 22px;
  height: 23px;
  opacity: 0.9;
}

.article-navigation {
  width: 95%;
  height: 47px;
  margin: 20px auto 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Poppins, sans-serif;
}

.article-left-navigation {
  display: flex;
  gap: 25px;
  font-weight: 500;
}

.article-left-navigation > p:first-child {
  width: 55px;
  height: fit-content;
  position: relative;
}

.article-left-navigation > p {
  width: fit-content;
  height: fit-content;
}

#red-dot {
  display: block;
  position: absolute;
  top: 1px;
  right: 0;
  width: 6px;
  height: 6px;
  background-color: #d8410c;
  border-radius: 50px;
}

.article-right-navigation {
  display: flex;
  padding-right: 24px;
  gap: 27px;
}

.article-right-navigation > img {
  width: 22px;
  height: 23px;
}

.card-container {
  width: 94%;
  height: 320px;
  margin: 7px auto 20px auto;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.card {
  width: 31%;
  height: 100%;
  background-color: #feffff;
  border: none;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-inner-container {
  width: 87%;
  height: 87%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  position: relative;
}

.card-image {
  width: 100%;
  height: 57%;
  border-radius: 12px;
}

.card-image > img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

#lock-icon {
  width: 14px;
  height: 14px;
  margin-right: 4px;
}

.card-type {
  position: absolute;
  top: 2px;
  right: 5px;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  color: #65666a
}

.card-title {
  height: 13%;
  color: #a1a2a4;
  font-size: 20px;
  text-align: center;
  padding-bottom: 50px;
}

.card-title > span {
  display: inline-block;
  text-transform: uppercase;
  font-size: 40px;
  color: black;
  font-weight: 300;
  font-family: Poppins, sans-serif;
  letter-spacing: 1px;
}

.downloadable {
  text-align: center;
  color: black;
  font-size: 23px;
  font-weight: 600;
  padding-top: 12px;
  text-decoration: underline;
}

.downloadable > img {
  width: 24px;
  height: 24px;
  padding-top: 4px;
  margin-left: 10px;
}

footer {
  width: 95%;
  height: 65px;
  margin: 25px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: black solid 1px;
}

.collectibles {
  display: flex;
  align-items: center;
  gap: 7px;
}

.collectibles > p {
  width: 94px;
  font-size: 15px;
  text-decoration: underline;
  font-family: Poppins, sans-serif;
  height: fit-content;
}

.overlapped {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.overlapped > img{
  width: 45px;
  height: 45px;
  border: white solid 1px;
  border-radius: 10px;
  margin-left: -20px;
  object-fit: cover;
}

.next-router {
  display: flex;
  align-items: center;
  gap: 20px;
  width: fit-content;
  height: 35px;
  padding: 3px 9px;
  border: none;
  border-radius: 7px;
  background-color: white;
}

.next-router img {
  width: 20px;
  height: 23px;
}

.navigator {
  width: 210px;
  height: 40px;
  display: flex;
  align-items: flex-end;
  border: black solid 1px;
}